{% extends 'frontend/layouts/base.html.twig' %}

{% block title %}Changement mot de passe{% endblock %}

{% block body %}

<div class="container">
<div class="row">
<div class="px-lg-4 col-lg-6 mx-auto">
<div class="card">
    <h1>Changer mot de passe</h1>

    {{ form_start(form) }}
    {{ form_widget(form) }}

    <input class="btn btn-primary" type="submit" value="{{ submitButtonText|default('Changer le mot de passe') }}" formnovalidate>
    {{ form_end(form) }}

</div>
</div>
</div>
</div>
{% endblock %}