{% extends 'frontend/layouts/base.html.twig' %}

{% block title %}Hello AlimentController!{% endblock %}

{% block body %}

<div class="text-center">
    <h1>VEGOOD catalogue d'aliments Vegan</h1>
    <p>Pour voir les <a href="{{ path('aliments_index') }}">ingedients</a></p>
    <p>Pour voir les <a href="{{ path('recettes_index') }}">recettes</a></p>
</div>

{% endblock %}
